@charset "utf-8";
/* CSS Document */

body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}

img{
outline:none;
border-style:none;
}

a{
color:blue;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}
a:visited{
color:blue;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}
a:hover {
color: #F5A862;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

/*****HEADER*****/
header{
    display: block;
    width: 100%;
    overflow: visible;
    color: rgba(255,255,255,1.0);
    background-color: rgba(128,128,64,1.0);
}

header h1{
    font-size: 120%;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
    margin: 5px;
}
header h2{
    font-size: 90%;
    text-align: right;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0,128,128,1.0);
}
header p{
    text-align: right;
}

/*****NAVIGATION*****/
nav{
    width: 100%;
}
nav ul li{
    display: inline-block;
    width: calc(25% - 5px);
}

/*****ARTICLE*****/
section{
    display: block;
    width: 100%;
    overflow: visible;
    font-size: 100%;
    color: rgba(0,0,0,1.0);
    background-color: rgba(255,255,255,1.0);
}

section h1{
    font-size: 150%;
    font-weight: 700;
    color: rgba(0,128,128,1.0);
    letter-spacing: 3px;
    padding: 5px;
}

section h2{
    font-size: 110%;
    font-weight: 700;
    color: rgba(0,128,128,1.0);
    letter-spacing: 3px;
    padding: 5px;
}

section h3{
    font-size: 100%;
    font-weight: 700;
    color: rgba(0,128,128,1.0);
    letter-spacing: 3px;
    padding: 5px;
}

section article{
    padding: 5px;
    margin: 5px;
}

pre.prettyprint{
	word-wrap: break-word;
	list-style-type: decimal;
}
